<h1>Editing Restaurant</h1>

<%= render 'form', restaurant: @restaurant %>

<%= link_to 'Show', @restaurant %> |
<%= link_to 'Back', restaurants_path %>
<%= link_to "Delete a restaurant", restaurant_path(@restaurant), method: :delete, :class => "new-task"  %>
